@model IEnumerable<TSystems.ASPNETCoreMVC.Torneio.Models.ChampionModel>

@{
    ViewData["Title"] = "List";
}
<link rel="stylesheet" href="~/css/pages/index.css" />
<link rel="stylesheet" href="~/css/pages/champion.css" />

<header>
    <h1>
        Draft
    </h1>
    <form>
        <h5> Selecione 16 campeões para começar!</h5>
        <div class="botao_iniciar centralizado">
            <button class="custom-btn btn-3" type="button" onclick="location.href='@Url.Action("Vencedor", "Champion")'">
                Iniciar
            </button>
        </div>
    </form>
</header>
<section>

    <div class="container-fluid row centralizado">
        @foreach (var champion in Model)
        {
            <div class="cards">
                <div class="card_img">
                    <img src="~/img/champions/@(champion.Nome).png" alt="Alternate Text" />
                </div>
                <div class="nome">
                    <h4>@champion.Nome</h4>
                </div>
                <div class="informacoes">
                    <div class="row">
                        <div class="col-auto pr-0 pl-4">
                            <p>Skills: @champion.Habilidades </p>
                        </div>
                        <div class="col-auto">
                            <p>Fights: @champion.TotalDeLutas </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto pr-0 pl-4">
                            <p> Victories: @champion.Vitorias </p>
                        </div>
                        <div class="col-auto">
                            <p> Defeats: @champion.Derrotas </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
